<article class="post">
  <div class="title">
    <h3 class="d-flex"><a href="/post/{{id}}">{{title}}</a></h3>
    <p class="d-flex">{{post_text_content}}</p>
  </div>
  <div class="d-flex">
    {{#if image_public_id}}
      <img class="align-self-center mr-3" src="https://res.cloudinary.com/dr3wpa5jd/image/upload/v1640227206/{{image_public_id}}.jpg">
    {{/if}}
  </div>
  <div class="meta d-flex">
    <span>
        {{vote_count}} {{format_plural "point" vote_count}} by <a href="/profile/{{user_id}}">{{user.username}}</a> on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </span>
  </div>
</article>