<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="edit_title">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="edit-content">
      <label class="editPostTitle" for="post-title">Title of the post</label>
      <input id="post-title" name="post-title" type="text" value="{{post.title}}" class="mb-4"/>
      <label class="editPostContent"for="text-content">Text content of the post</label>
      <textarea id='text-content' name="post-text-content">{{post.post_text_content}}</textarea>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class="save-btn" type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
  <form class="comment-form">
  <div class="cmt-div">
    <textarea class="comment-body" name="comment-body"></textarea>
    <div>
      <button type="submit">add comment</button>
    </div>
    {{> comments post.comments}}
  </div>

  
</form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>