
<section id="profile-body">
    {{{checkFollowStatus followers session.user_id username id}}}
    {{!-- <form action="/profile/follow" method="post">
        <input type="hidden" name="follower_id" value="{{session.user_id}}"></input>
        <button name="user_id" value="{{id}}"> Follow {{username}} </button>
    </form> --}}
    
    
    <h1 id="profile-name">{{username}}</h1>
    <h3 id="profile-email">{{email}}</h3>
    

    {{#if followers.length}}
    <div class="followers-container">

        <h3 id="follower-heading">These people follow {{username}}! </h3>    
        <ul id="follower-list">
            {{#each followers}}
            <li class="follower-name-container">
                <a href="/profile/{{this.follower_id}}" target="blank" class="follower-name">{{this.follower_name}}</a>
            </li>
            {{/each}}
        </ul>

    </div>
    {{/if}}

    <div class="posts-container">

        <h3 id="post-heading">{{username}}'s Posts:</h3>
        <ul id="post-list">
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                
                {{{checkLoginMatch ../session.username ../username id }}}
            
            </li>
            {{/each}}
        </ul>

    </div>
</section>

